$light-blue: #9EB7E5;
$dark-blue: #0e3e66;
$dark-green: #053f23;
$light-green: #70ee9c;
$grey: #212121;
$dark: #000;
$light: #fff;
$bebas: "Bebas Neue", sans-serif;
$nunito: "Nunito Sans", sans-serif;
$pclamp: clamp(1rem, 0.852rem + 0.741vw, 1.5rem);
$h2clamp: clamp(2.5rem, 1.735rem + 3.824vw, 5rem);
$h3clamp: clamp(2rem, 0.571rem + 3.81vw, 4rem);
$h4clamp: clamp(1.5rem, 1.056rem + 2.222vw, 3rem);
// Applies to Paragraph and Span text
$smallclamp: clamp(0.875rem, 0.25rem + 1.667vw, 1.75rem);

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #fff;
}

main {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
	background: #eee;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

a {
	background-color: transparent;
	color: #4169e1;

	&:visited {
		color: #800080;
		color: unset;
	}

	&:focus {
		outline: thin dotted;
	}
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
	height: auto;
	max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
	width: 100%;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1rem;
	font-family: $nunito;
	font-weight: 500;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li>ul,
li>ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

embed,
iframe,
object {
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

a:hover,
a:focus,
a:active {
	color: $light-blue;
}

a:hover,
a:active {
	outline: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

.main-navigation {
	display: block;
	position: relative;

	ul {
		height: 0;
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: right;
		position: absolute;
		right: 0;
		transition: all 0.5s ease-in-out;
		width: 100%;
		overflow: hidden;
		display: flex;
		flex-direction: column;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			a {
				width: 200px;
			}
		}
	}

	li {
		position: relative;
	}

	a {
		display: block;
		text-decoration: none;
	}

	.menu-menu-1-container {
		background-color: $grey;
		position: absolute;
		top: 50px;
		color: $light;
		font-size: 1.5rem;
		right: 0;
		height: 0;
		width: 100vw;
		transition: height 0.5s ease-in-out;
	}
}

.main-navigation ul ul li:hover>ul,
.main-navigation ul ul li.focus>ul {
	display: block;
	left: auto;
}

.main-navigation ul li:hover>ul,
.main-navigation ul li.focus>ul {
	left: auto;
}

.menu-toggle,
.main-navigation.toggled ul {
	height: 100%;
}

@media screen and (min-width:37.5em) {
	.menu-toggle {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

.sticky {
	display: block;
}

.updated {
	&:not(.published) {
		display: none;
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.comment-content {
	a {
		word-wrap: break-word;
	}
}

.bypostauthor {
	display: block;
}

.widget {
	margin: 0 0 1.5em;

	select {
		max-width: 100%;
	}
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.custom-logo-link {
	display: inline-block;
}

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}
}

.wp-caption-text {
	text-align: center;
}

.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

.infinity-end {
	&.neverending {
		.site-footer {
			display: block;
		}
	}
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;

	&:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		clip-path: none;
		color: #21759b;
		display: block;
		font-size: 0.875rem;
		font-weight: 700;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
	}
}

#primary[tabindex="-1"]:focus {
	outline: 0;
}

.alignleft {
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {
	float: right;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

p {
	font-family: $nunito;
	font-weight: 500;
	font-size: $pclamp
}

h2 {
	font-size: $h2clamp;
	font-family: $bebas;
	font-weight: 400;
}

h3 {
	font-size: $h3clamp;
	font-family: $bebas;
	font-weight: 400;
}

h4 {
	font-size: $h4clamp;
	font-family: $bebas;
	font-weight: 400;
}

.site-header {
	display: flex;
	background-color: $grey;
	font-family: $bebas;
	color: $light;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 0;
	overflow-x: clip;

	h1 {
		font-size: 2rem;
		margin: 0.5rem 0;
		font-weight: 400;
	}
}

.site-branding {
	margin-left: 1rem;
}

.menu-toggle {
	border-radius: 9999px;
	height: 2.5rem;
	width: 2.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 1rem;

	span {
		width: 1.5rem;
		background-color: $dark;
		height: 1.5px;
		display: block;
		border-radius: 9999px;
		transition: all 0.3s ease-in-out;
		transform-origin: center;
		border: 0;
	}
}

.line-1 {
	transform: translateY(0.25rem);
}

.line-2 {
	transform: translateY(-0.25rem);
}

.rotate-span-1 {
	rotate: -45deg;
	transform: translateY(0);
}

.rotate-span-2 {
	rotate: 45deg;
	transform: translateY(0);
}

.menu-menu-1-container {
	z-index: 9999;

	ul {
		li {
			border-bottom: 2px solid $light;
			display: block;
			width: 100%;
		}
	}

	&.menu-open {
		height: 100vh;
	}

	a {
		width: 100%;
		padding: 1rem;
		position: relative;
		transition: color 0.3s ease-in-out;
	}

	a::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0;
		background-color: $light-green;
		transition: height 0.3s ease-in-out;
		color: $dark;
		z-index: -1;
	}

	a:hover {
		color: $dark;

		&::before {
				height: 100%;
			}
	}

}

.home-hero {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url('../img/sm/whoweare1.webp') top/190% no-repeat;
	color: $light;
	padding: 1rem;
	border-radius: 0 0 1.5rem 1.5rem;
	position: sticky;
	top: 64px;

	h2 {
		font-family: $bebas;
		font-size: $h2clamp;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: 400;
		margin-top: 17rem;
		margin-bottom: unset;
		line-height: 3rem;

		span {
			display: inline-flex;
			// position: relative;
			overflow: hidden;
		}
	}

	.tagline {
		a {
			margin-bottom: 1rem;
			// margin-top: 1rem;
		}

		h2 {
			line-height: 1.5;
		}
	}
}

a[role=button] {
	background-color: $light-blue;
	padding: 0.5rem 2rem;
	text-decoration: none;
	font-family: $bebas;
	color: $dark;
	display: block;
	border-radius: 0.5rem;
	font-size: 1rem;
	width: fit-content;
	margin-left: auto;
	filter: drop-shadow(7px 7px $dark);
	transition: background-color 0.2s ease-in-out;
}

a[role=button]:active,
a[role=button]:focus {
	filter: unset;
	transform: translate(7px, 7px);
}

a[role=button]:hover {
	background-color: $light-green;
}

.info-blurb {
	color: $dark;
	padding: 0 1.5rem;
	font-family: $nunito;
	font-weight: 500;
	margin: 1.5rem 0;

	* {
		margin: 0.7rem 0;
	}
}

.home-services {
	background-color: $dark-blue;
	color: $light;
	border-radius: 1.5rem;
	padding: 2rem 0 0 0;

	h2 {
		font-size: $h2clamp;
		-webkit-text-stroke: 0.75px $dark;
		margin-top: unset;
		margin: 0 2rem;
	}

	h3 {
		font-size: $h3clamp;
		margin: 1rem 2rem;

	}

	p {
		font-family: $nunito;
		font-weight: 400;
		margin: 2rem;
	}

	a {
		margin-top: 2rem;
	}

	img {
		width: 100%;
	}

	.home-santa {
		background-color: $light;
		border-radius: 20px;
		color: $dark-blue;
		padding-top: 1rem;

		p {
			color: $dark;

			&:nth-child(3) {
				margin-bottom: 1rem;
			}

			&:nth-child(4) {
				margin-top: 1rem;
			}
		}

		a {
			margin-right: 2rem;
		}
	}
}

.divider {
	width: 80%;
	height: 3px;
	background-color: $light;
	margin: 2rem auto;
	border-radius: 9999px;
}

.home-about {
	padding: 2rem 0 0;
	font-family: $bebas;
	color: $light;
	background-color: $dark-blue;
	margin-top: 2rem;
	position: relative;

	h2 {
		font-size: $h2clamp;
		font-weight: 400;
		margin: 0 2rem;
	}

	h3 {
		font-size: $h3clamp;
		font-weight: 400;
	}

	p {
		margin: 0 2rem 1rem;
	}

	a[role=button] {
		margin-top: 1.5rem;
		margin-right: 2rem;
		margin: 1rem 2rem 2rem auto;
	}

	img {
		position: absolute;
		width: 70%;
		left: 0;
		bottom: 0;
	}

	.socials {
		background-color: $light;
		height: 23rem;

		h3 {
			color: $dark-blue;
			margin-left: 2rem;
		}
	}
	
	.social-links {
		display: grid;
		grid-template-columns: 50% 50%;
		margin-left: auto;
		grid-template-columns: 3rem 3rem;
		gap: 1rem;
		margin-right: 2rem;
		margin-top: 4.5rem;

		svg {
			width: 4rem;
		}
	}
}

.home-testimonials {
	background-color: $dark-blue;
	border-radius: 1.5rem;
	color: $light;
	font-family: $bebas;
	font-weight: 400;
	padding: 2rem 1.5rem;

	h2 {
		font-size: $h2clamp;
		margin-top: unset;
		font-weight: 400;
		margin-bottom: 1rem;
	}

	.testimonial-card {
		background-color: $light;
		color: $dark-blue;
		border-radius: 1rem;
		padding: 1rem;

		p {
			margin-top: unset;
			margin-bottom: 0.5rem;
		}

		&:nth-of-type(1),
		:nth-of-type(2) {
			margin-bottom: 1rem;
		}

		&>span {
			margin-left: auto;
			display: block;
			width: fit-content;
			font-family: $nunito;
			font-style: italic;
			font-size: 0.8rem;
		}
	}
}

.upcoming-events {
	font-family: $bebas;
	color: $dark-blue;
	padding: 2rem 1.5rem;

	h2 {
		font-size: $h2clamp;
		font-weight: 400;
		margin-top: unset;
	}

	h3 {
		font-size: $h3clamp;
		font-weight: 400;
	}

	.event-info {
		display: flex;
		align-items: center;

		svg {
			width: 1.5rem;
		}

		p {
			margin: 1rem 1rem;
		}
	}

	a {
		&:nth-of-type(1) {
			margin-bottom: 1rem;
		}
	}
}

footer {
	background-color: $grey;
	color: $light;
	font-family: $nunito;
	z-index: 1;
	position: relative;

	a {
		text-decoration: none;
	}

	.site-info {
		text-align: right;

		span {
			width: 100%;
			display: block;
			margin-top: 2rem;
		}
	}
}

.footer-container {
	display: grid;
	grid-template-areas: "a c"
		"b c"
		"b d";
	grid-template-rows: 100px 250px 100px;
	grid-template-columns: 1fr 2fr;

	.custom-logo-link {
		grid-area: a;
		padding: 1rem;
	}

	.footer-socials {
		grid-area: b;
		display: flex;
		flex-direction: column;
	}

	.footer-nav-container {
		grid-area: c;
	}

	.site-info {
		grid-area: d;
	}
}

.footer-navigation {
	height: 100%;
}

.footer-socials {
	a {
		padding: 1rem;
	}
}

footer .footer-socials svg,
footer .footer-socials svg path {
	fill: $light;
	width: 3rem;
}

.menu-menu-2-container {
	text-align: right;
	height: 100%;

	ul {
		list-style-type: none;
		padding: unset;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 100%;
	}

	a {
		padding: 1rem;
		font-family: $bebas;
		font-size: 1.5rem;
	}

	#footer-menu {
		margin: unset;
	}
}

.small {
	font-size: $smallclamp;
}

.services-hero {
	padding: 0 2rem;
	color: $dark-blue;
}

.services-corporate {

	h3 {
		padding: 0 2rem;
		color: $dark-blue;
	}

	img {
		width: 100%;
	}

	p {
		padding: 0 2rem;
	}
}

.services-poy {
	color: $light;

	img {
		width: 100%;
	}

	h3,
	h4 {
		margin: 1rem 2rem;
	}

	p {
		margin: 1rem 2rem 2rem;
	}

	a[role=button] {
		margin-right: 2rem;
		margin-bottom: 2rem;
	}

	.poy-part-1,
	.poy-part-2 {
		background-color: $dark-blue;
		padding: 1rem 0;
		border-radius: 15px;
	}

	.poy-part-2 {

		p:nth-child(3) {
			margin-bottom: 1rem;
		}
	}

	.poy-part-1 {
		div:nth-child(4) {
			p:nth-child(3) {
				margin-bottom: 1rem;
			}
		}
	}

	.testimonials {
		color: $dark;
		padding: 2rem;

		.card-1 {
			margin-bottom: 2rem;
		}

		.card-1,
		.card-2 {
			border: 1px solid $dark;
			border-radius: 10px;
			padding: 1rem;
			height: 15.625rem;
			position: sticky;
			top: 0;
			background-color: $light;

			p {
				margin: unset;
				margin-bottom: 1rem;
				color: $dark-blue;
			}
		}
	}
}

.services-santa {
	h3 {
		margin: 2rem 2rem 1rem;
	}

	img {
		width: 100%;
	}

	p {
		margin: 1rem 2rem;
	}
}

.socials {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: center;
}

.social-links {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.social-links a {
	margin: 0 10px;
}

@media screen and (min-width: 1399px) {
    .about-heading {
        background: linear-gradient(to bottom, #000000, #808080, #FFFFFF);
    }
}

.about-book-button {
    margin: 2rem;
}


.about-heading {
    padding: 2rem 0;
    padding-left: 2rem;
    color: #0E3E66;
}

.flex-container {
    background-color: #0E3E66;
    color: #FFFFFF;
}

.flex-item h2 {
    padding-left: 20px;
}

.flex-item p {
    text-align: center;
}

.flex-item img {
    border-radius: 10px;
}

.image-about img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.flex-item .image-about {
    margin: 0 auto 1rem;
    overflow: hidden;
    border: 2px solid #FFFFFF;
}

.image-gallery-section h3,
.contact-heading {
    padding-left: 2rem;
    color: #FFFFFF;
}

.meet-donovan-section h2 {
	padding-left: 2rem;
	color: #FFFFFF;
}

.image-gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-wrapper {
    margin: 0 auto 1rem;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #FFFFFF;
}

.image-wrapper img {
    display: block;
    width: 100%;
    border-radius: inherit;
}

.image-about {
    margin: 0 auto 1rem;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #FFFFFF;
}

.image-about img {
    display: block;
    width: 100%;
    border-radius: inherit;
	overflow: hidden;
}

.meet-donovan-section h2 {
    color: #000000; 
}

.flex-container {
    display: flex; 
    flex-direction: column; 
}

.column1 {
    background-color: #0E3E66; 
    color: white; 
    padding: 20px; 
}

.column2 {

    color: #000000; 
    padding: 20px; 
    margin-top: 20px; 
    display: inline-block;

	color: #000000;
	display: inline-block;
	margin: 0 2rem;


}


.testimonials {
	span {
		font-size: $smallclamp;
		font-family: $nunito;
		display: block;
		font-style: italic;
		text-align: right;
	}
}

@media screen and (max-width: 87.4375rem) {
	.column2 {
		color: white;
		margin-top: 1rem;
	}

.column2 p {
	color: #000000;
    padding: 10px; 
    margin: 10px 0;
}
}
@media screen and (min-width: 1399px) {
    .flex-container {
        flex-direction: row;
    }
  
    .column1,
    .column2 {
        flex: 1; 
    }
  
    .column2 p {
        background-color: #FFFFFF; 
		color: #000000;
    }
}

@media screen and (max-width: 1399px) {
    .column2 {
        color: white;
		margin-top: 20rem;
    }
}

@media screen and (min-width: 1399px) {
    .about-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0; 
    }
}

.image-gallery-section {
	background-color: #0E3E66;
}

.image-gallery-section h3 {
	color: #FFFFFF;
}

@media screen and (min-width: 1399px) {
	.flex-item {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        color: #000000;
        border-radius: 10px;
        margin: 20px;
        width: 100%; 
    }
}

.send-message-heading {
    text-align: center;
    padding: 2rem 0;
    color: #FFFFFF;
}

.contact-styled {
    background: #0E3E66; /* Background color */
    padding: 20px; /* Padding for the form */
    border-radius: 10px; /* Border radius for the form */
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF; /* Text color */
}

.contact-styled h3 {
    color: #FFFFFF; /* Heading text color */
}

.contact-styled .nf-field-label {
    color: #FFFFFF; /* Label text color */
    text-transform: capitalize;
}

.contact-styled .nf-form-content input[type="text"],
.contact-styled .nf-form-content input[type="email"],
.contact-styled .nf-form-content input[type="date"],
.contact-styled .nf-form-content textarea {
    color: #000000; /* Text color for input fields */
    border-radius: 5px; /* Border radius for input fields */
    background-color: #FFFFFF; /* Background color for input fields */
    border: 1px solid #000000; /* Black border for input fields */
    padding: 10px; /* Adjust padding as needed */
}

.contact-styled .nf-form-content input[type="text"]::placeholder,
.contact-styled .nf-form-content input[type="email"]::placeholder,
.contact-styled .nf-form-content input[type="date"]::placeholder,
.contact-styled .nf-form-content textarea::placeholder {
    color: #000000; /* Text color for placeholder */
}

.contact-styled .nf-form-content input[type="submit"] {
    display: block; /* Ensure button takes full width */
    margin: 0 auto; /* Center the button horizontally */
    background: #9EB7E5; /* Button background color */
    color: #000000; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Border radius for button */
    padding: 10px 20px; /* Adjust padding as needed */
    font-weight: bold; /* Make button text bold */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Add transition effect */
}


.contact-styled .nf-form-content input[type="submit"]:hover {
    background: #70EE9C; /* Button background color on hover */
    color: #000000; /* Button text color on hover */
}

.contact-styled .nf-error.field-wrap .nf-field-element:after {
    background: #e74c3c; /* Error message background color */
}

.contact-styled .nf-form-fields-required {
    margin-bottom: 10px; /* Add margin below required fields */
}

.contact-styled .nf-error .nf-error-msg {
    color: #e74c3c; /* Error message text color */
}

.contact-styled .nf-error-msg,
.ninja-forms-req-symbol {
    color: #e74c3c; /* Required symbol text color */
}

.contact-styled .nf-pass.field-wrap .nf-field-element:after {
    color: #2ecc71; /* Password strength color */
    content: "\f164";
}

@media screen and (min-width: 1399px) {
    .contact-heading {
        background: linear-gradient(to bottom, #000000, #808080, #FFFFFF);
		text-align: center;
    }
}

.meet-donovan-section p{
	text-align: center;
  }

  @media screen and (min-width: 1399px) {
	.chris-borger-about p {
	  color: #000000;
	  background-color: #FFFFFF;
	  padding: 1rem;
	  border-radius: 8px;
	}
  }

.chris-borger-about h2 {
	color: #000000;
	padding-left: 2rem;
}

.hire-artist-section {
	p {
		margin: 0 2rem 2rem 2rem;
	}

}

/******************* Media queries ***************/



//  media query for screen min width of 31.25rem/500px - Horizontal phone view

@media screen and (min-width:31.25rem) {
	.home-hero {
		background-size: 130%;
		padding: 1rem 3rem;

		h2 {
			margin-bottom: 1rem;
		}

	}

	.info-blurb {
		padding: 0 3rem;

		p:first-of-type {
			padding-top: 2rem;
		}

		p:last-of-type {
			margin-bottom: 2rem;
		}
	}

	.home-services {
		h2, h3, p {
			margin-left: 3rem;
		}

		p {
			margin: 1rem 3rem 0rem;
		}

		img {
			width: calc(100vw - 6rem);
			margin: 0 3rem 0;
			border-radius: 5px;
		}

		.home-santa a {
			margin-right: 3rem;
		}
	}

	.home-about {

		padding-top: 2rem;

		h2,
		h3,
		p {
			margin-left: 3rem;
			margin-right: 3rem;
		}

		p:first-of-type {
			padding-top: 2rem;
		}

		a[role=button] {
			margin-right: 3rem;
		}

		.socials {
			height: 27rem;

			img {
				width: 60%;
			}

			.social-links {
				grid-template-columns: 100% 100%;
				grid-template-rows: 100% 100%;
			}

			svg {
				padding: 1rem;
			}
		}
	}

	.home-testimonials {
		h2 {
			margin-left: 3rem;
			margin-right: 3rem;
		}
	}

	.upcoming-events {
		padding: 2rem 0;

		h2, h3, p {
			margin-left: 3rem;
			margin-right: 3rem;
		}
	}
}



// Media Query for min-width 800px/50rem - small tablets
@media screen and (min-width:50rem) {}


// Media Query for min-width for 1100px/68.75rem - Horizontal tablets, small laptop/desktop screens
@media screen and (min-width: 68.75rem) {}

// Media Query for 1400px/87.5rem - Large Desktop

@media screen and (min-width: 87.5rem) {
	.about-heading {
		background: linear-gradient(to bottom, #000000, #808080, #FFFFFF);
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
	}

	.flex-container {
		flex-direction: row;
	}

	.column1,
	.column2 {
		flex: 1;
	}

	.column2 p {
		background-color: #FFFFFF;
	}

	.flex-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #FFFFFF;
		color: #000000;
		border-radius: 10px;
		margin: 1.25rem;
		width: 100%;
	}

	.contact-heading {
		background: linear-gradient(to bottom, #000000, #808080, #FFFFFF);
		text-align: center;
	}

	.chris-borger-about p {
		color: #000000;
		background-color: #FFFFFF;
		padding: 1rem;
		border-radius: 8px;
	}

	.image-gallery-container .image-wrapper {
		border: none;
	}
}
