html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

a {
  background-color: transparent;
  color: #4169e1;
}
a:visited {
  color: #800080;
  color: unset;
}
a:focus {
  outline: thin dotted;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  height: auto;
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
  width: 100%;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

code,
kbd,
tt,
var {
  font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

embed,
iframe,
object {
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

a:hover,
a:focus,
a:active {
  color: #191970;
}

a:hover,
a:active {
  outline: 0;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}

button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type=button]:active,
input[type=button]:focus,
input[type=reset]:active,
input[type=reset]:focus,
input[type=submit]:active,
input[type=submit]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=range]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

.main-navigation {
  display: block;
  position: relative;
  z-index: 9999;
}
.main-navigation ul {
  height: 0;
  list-style: none;
  margin: 0;
  padding-left: 0;
  text-align: right;
  position: absolute;
  right: 0;
  transition: all 0.5s ease-in-out;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}
.main-navigation ul ul a {
  width: 12.5rem;
}
.main-navigation li {
  position: relative;
}
.main-navigation a {
  display: block;
  text-decoration: none;
}
.main-navigation .menu-menu-1-container {
  background-color: #212121;
  position: absolute;
  top: 3.125rem;
  color: #fff;
  font-size: 1.5rem;
  right: 0;
  height: 0;
  width: 100vw;
  transition: height 0.5s ease-in-out;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  display: block;
  left: auto;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.menu-toggle,
.main-navigation.toggled ul {
  height: 100%;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.widget {
  margin: 0 0 1.5em;
}
.widget select {
  max-width: 100%;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.custom-logo-link {
  display: inline-block;
}

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*=wp-image-] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
  display: block;
}

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

.infinity-end.neverending .site-footer {
  display: block;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 0.9375rem 1.4375rem 0.875rem;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

#primary[tabindex="-1"]:focus {
  outline: 0;
}

.alignleft {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: clamp(1rem, 0.852rem + 0.741vw, 1.5rem);
}

h2 {
  font-size: clamp(2.5rem, 1.735rem + 3.824vw, 5rem);
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

h3 {
  font-size: clamp(2rem, 0.571rem + 3.81vw, 4rem);
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

h4 {
  font-size: clamp(1.5rem, 1.056rem + 2.222vw, 3rem);
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

.site-header {
  display: flex;
  background-color: #212121;
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
.site-header h1 {
  font-size: 2rem;
  margin: 0.5rem 0;
  font-weight: 400;
}

.site-branding {
  margin-left: 1rem;
}

.menu-toggle {
  border-radius: 9999px;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.menu-toggle span {
  width: 1.5rem;
  background-color: #000;
  height: 1.5px;
  display: block;
  border-radius: 9999px;
  transition: all 0.3s ease-in-out;
  transform-origin: center;
  border: 0;
}

.line-1 {
  transform: translateY(0.25rem);
}

.line-2 {
  transform: translateY(-0.25rem);
}

.rotate-span-1 {
  rotate: -45deg;
  transform: translateY(0);
}

.rotate-span-2 {
  rotate: 45deg;
  transform: translateY(0);
}

.menu-menu-1-container {
  z-index: 9999;
}
.menu-menu-1-container ul li {
  border-bottom: 2px solid #fff;
  display: block;
  width: 100%;
}
.menu-menu-1-container.menu-open {
  height: 100vh;
}
.menu-menu-1-container a {
  width: 100%;
  padding: 1rem;
}

.home-hero {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("../img/sm/whoweare1.webp") top/190% no-repeat;
  color: #fff;
  padding: 1rem;
  border-radius: 0 0 1.5rem 1.5rem;
  position: sticky;
  top: 64px;
  z-index: -99;
}
.home-hero h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(2.5rem, 1.735rem + 3.824vw, 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  font-weight: 400;
  margin-top: 17rem;
  margin-bottom: unset;
  line-height: 3rem;
}
.home-hero h2 span {
  display: inline-flex;
  overflow: hidden;
}
.home-hero .tagline a {
  margin-bottom: 1rem;
}
.home-hero .tagline h2 {
  line-height: 1.5;
}

a[role=button] {
  background-color: #9EB7E5;
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  color: #000;
  display: block;
  border-radius: 0.5rem;
  font-size: clamp(1rem, 0.852rem + 0.741vw, 1.5rem);
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  filter: drop-shadow(7px 7px #000);
  transition: background-color 0.2s ease-in-out;
}

a[role=button]:active,
a[role=button]:focus {
  filter: unset;
  transform: translate(7px, 7px);
}

a[role=button]:hover {
  background-color: #70ee9c;
}

.light-bg {
  background-color: #fff;
  border-radius: 1.5rem 1.5rem 0 0;
  position: relative;
}

.info-blurb {
  color: #000;
  padding: 2rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  background-color: #fff;
  border-radius: 1.5rem 1.5rem 0 0;
}
.info-blurb * {
  margin: 0.7rem 0;
}

.home-services {
  background-color: #0e3e66;
  color: #fff;
  border-radius: 1.5rem;
  padding: 2rem 0 0 0;
}
.home-services h2 {
  font-size: clamp(2.5rem, 1.735rem + 3.824vw, 5rem);
  -webkit-text-stroke: 0.75px #000;
  margin-top: unset;
  margin: 0 0 0 2rem;
}
.home-services h3 {
  font-size: clamp(2rem, 0.571rem + 3.81vw, 4rem);
  margin: 1rem 2rem;
}
.home-services p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  margin: 2rem;
}
.home-services a {
  margin-top: 2rem;
}
.home-services img {
  width: 100%;
}
.home-services .home-santa {
  background-color: #fff;
  border-radius: 1.25rem;
  color: #0e3e66;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.home-services .home-santa p {
  color: #000;
}
.home-services .home-santa a {
  margin-right: 2rem;
}

.divider {
  width: 80%;
  height: 3px;
  background-color: #fff;
  margin: 2rem auto;
  border-radius: 9999px;
}

.home-about {
  padding: 3rem 0 0;
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  background-color: #0e3e66;
  position: relative;
}
.home-about h2 {
  font-size: clamp(2.5rem, 1.735rem + 3.824vw, 5rem);
  font-weight: 400;
  margin: 0 2rem;
}
.home-about h3 {
  font-size: clamp(2rem, 0.571rem + 3.81vw, 4rem);
  font-weight: 400;
}
.home-about p {
  margin: 0 2rem 1rem;
}
.home-about a[role=button] {
  margin-top: 1.5rem;
  margin-right: 2rem;
  margin: 1rem 2rem 2rem auto;
}
.home-about img {
  position: absolute;
  width: 60%;
  left: 0;
  bottom: 0;
}
.home-about .socials {
  background-color: #fff;
  height: 23rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.home-about .socials h3 {
  color: #0e3e66;
  margin-left: 2rem;
}
.home-about .social-links {
  display: grid;
  grid-template-columns: 3rem 3rem;
  gap: 1rem;
  margin-right: 2rem;
  margin-top: 2rem;
}
.home-about .social-links svg {
  width: 3rem;
}

.home-testimonials {
  background-color: #0e3e66;
  border-radius: 1.5rem;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  padding: 2rem 1.5rem;
}
.home-testimonials h2 {
  font-size: clamp(2.5rem, 1.735rem + 3.824vw, 5rem);
  margin-top: unset;
  font-weight: 400;
  margin-bottom: 1rem;
}
.home-testimonials .testimonial-card {
  background-color: #fff;
  color: #0e3e66;
  border-radius: 1rem;
  padding: 1rem;
}
.home-testimonials .testimonial-card p {
  margin-top: unset;
  margin-bottom: 0.5rem;
}
.home-testimonials .testimonial-card:nth-of-type(1),
.home-testimonials .testimonial-card :nth-of-type(2) {
  margin-bottom: 1rem;
}
.home-testimonials .testimonial-card > span {
  margin-left: auto;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Nunito Sans", sans-serif;
  font-style: italic;
  font-size: 0.8rem;
}

.upcoming-events {
  font-family: "Bebas Neue", sans-serif;
  color: #0e3e66;
  padding: 2rem 1.5rem;
  background-color: #fff;
}
.upcoming-events h2 {
  font-size: clamp(2.5rem, 1.735rem + 3.824vw, 5rem);
  font-weight: 400;
  margin-top: unset;
}
.upcoming-events h3 {
  font-size: clamp(2rem, 0.571rem + 3.81vw, 4rem);
  font-weight: 400;
}
.upcoming-events .event-info {
  display: flex;
  align-items: center;
}
.upcoming-events .event-info svg {
  width: 1.5rem;
}
.upcoming-events .event-info p {
  margin: 1rem 1rem;
}
.upcoming-events a:nth-of-type(1) {
  margin-bottom: 1rem;
}

footer {
  background-color: #212121;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
}
footer a {
  text-decoration: none;
}
footer .site-info {
  text-align: right;
}
footer .site-info span {
  width: 100%;
  display: block;
  margin-top: 2rem;
}

.footer-container {
  display: grid;
  grid-template-areas: "a c" "b c" "b d";
  grid-template-rows: 6.25rem 15.625rem 6.25rem;
  grid-template-columns: 1fr 2fr;
}
.footer-container .custom-logo-link {
  grid-area: a;
  padding: 1rem;
}
.footer-container .footer-socials {
  grid-area: b;
  display: flex;
  flex-direction: column;
}
.footer-container .footer-socials a {
  padding: 1rem;
}
.footer-container .footer-socials svg,
.footer-container .footer-socials svg path {
  fill: #fff;
  width: 3rem;
}
.footer-container .footer-nav-container {
  grid-area: c;
}
.footer-container .site-info {
  grid-area: d;
}

.footer-navigation {
  height: 100%;
}

.menu-menu-2-container {
  text-align: right;
  height: 100%;
}
.menu-menu-2-container ul {
  list-style-type: none;
  padding: unset;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.menu-menu-2-container a {
  padding: 1rem;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
}
.menu-menu-2-container #footer-menu {
  margin: unset;
}

.services-hero {
  padding: 0 2rem;
  color: #0e3e66;
}

.services-corporate h3 {
  padding: 0 2rem;
  color: #0e3e66;
}
.services-corporate img {
  width: 100%;
}
.services-corporate p {
  padding: 0 2rem;
}

.services-poy {
  color: #fff;
}
.services-poy img {
  width: 100%;
}
.services-poy h3,
.services-poy h4 {
  margin: 1rem 2rem;
}
.services-poy p {
  margin: 1rem 2rem 2rem;
}
.services-poy a[role=button] {
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.services-poy .poy-part-1,
.services-poy .poy-part-2 {
  background-color: #0e3e66;
  padding: 1rem 0;
  border-radius: 0.9375rem;
}
.services-poy .testimonials {
  color: #000;
  padding: 2rem;
}
.services-poy .testimonials .card-1 {
  margin-bottom: 2rem;
}
.services-poy .testimonials .card-1,
.services-poy .testimonials .card-2 {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 1rem;
  height: 15.625rem;
  position: sticky;
  top: 0;
  background-color: #fff;
}
.services-poy .testimonials .card-1 p,
.services-poy .testimonials .card-2 p {
  margin: unset;
  margin-bottom: 1rem;
  color: #0e3e66;
}

.services-santa h3 {
  margin: 2rem 2rem 1rem;
}
.services-santa img {
  width: 100%;
}
.services-santa p {
  margin: 1rem 2rem;
}

.about-book-button {
  margin: 2rem;
}

.about-heading,
.contact-heading {
  padding: 0;
  padding-left: 2rem;
  color: #0E3E66;
}

.flex-container {
  background-color: #0E3E66;
  color: #FFFFFF;
}

.flex-item h2 {
  padding-left: 1.25rem;
}
.flex-item p {
  text-align: center;
}
.flex-item img {
  border-radius: 0.625rem;
}

.image-about img {
  display: block;
  width: 100%;
  border-radius: 0.625rem;
}

.flex-item .image-about {
  margin: 0 auto 1rem;
  overflow: hidden;
  border: 2px solid #FFFFFF;
}

.image-gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-wrapper {
  margin: 0 auto 1rem;
  border-radius: 0.625rem;
  overflow: hidden;
  border: 2px solid #FFFFFF;
}
.image-wrapper img {
  display: block;
  width: 100%;
  border-radius: inherit;
}

.image-about {
  margin: 0 auto 1rem;
  border-radius: 0.625rem;
  overflow: hidden;
  border: 2px solid #FFFFFF;
}

.image-about img {
  display: block;
  width: 100%;
  border-radius: inherit;
  overflow: hidden;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.column1 {
  background-color: #0E3E66;
  color: white;
}
.column1 h3 {
  margin: 2rem;
}
.column1 .image-about {
  margin: 1.25rem;
}

.column2 {
  color: #000000;
  display: inline-block;
  margin: 0 2rem;
}

@media screen and (max-width: 87.4375rem) {
  .column2 {
    color: white;
    margin-top: 1rem;
  }
}
.send-message-heading {
  text-align: center;
  margin: 0 0 2rem 0;
  color: #FFFFFF;
}

.contact-styled {
  background: #0E3E66;
  /* Background color */
  padding: 2rem;
  /* Padding for the form */
  border-radius: 0.625rem;
  /* Border radius for the form */
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  /* Text color */
}

.contact-styled h3 {
  color: #FFFFFF;
  /* Heading text color */
}

.contact-styled .nf-field-label {
  color: #FFFFFF;
  /* Label text color */
  text-transform: capitalize;
}

.contact-styled .nf-form-content input[type=text],
.contact-styled .nf-form-content input[type=email],
.contact-styled .nf-form-content input[type=date],
.contact-styled .nf-form-content textarea {
  color: #000000;
  /* Text color for input fields */
  border-radius: 5px;
  /* Border radius for input fields */
  background-color: #FFFFFF;
  /* Background color for input fields */
  border: 1px solid #000000;
  /* Black border for input fields */
  padding: 0.625rem;
  /* Adjust padding as needed */
}

.contact-styled .nf-form-content input[type=text]::-moz-placeholder, .contact-styled .nf-form-content input[type=email]::-moz-placeholder, .contact-styled .nf-form-content input[type=date]::-moz-placeholder, .contact-styled .nf-form-content textarea::-moz-placeholder {
  color: #000000;
  /* Text color for placeholder */
}

.contact-styled .nf-form-content input[type=text]::placeholder,
.contact-styled .nf-form-content input[type=email]::placeholder,
.contact-styled .nf-form-content input[type=date]::placeholder,
.contact-styled .nf-form-content textarea::placeholder {
  color: #000000;
  /* Text color for placeholder */
}

.contact-styled .nf-form-content input[type=submit] {
  display: block;
  /* Ensure button takes full width */
  margin: 0 auto;
  /* Center the button horizontally */
  background: #9EB7E5;
  /* Button background color */
  color: #000000;
  /* Button text color */
  border: none;
  /* Remove button border */
  border-radius: 5px;
  /* Border radius for button */
  padding: 0.625rem 1.25rem;
  /* Adjust padding as needed */
  font-weight: bold;
  /* Make button text bold */
  cursor: pointer;
  /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease;
  /* Add transition effect */
}

.contact-styled .nf-form-content input[type=submit]:hover {
  background: #70EE9C;
  /* Button background color on hover */
  color: #000000;
  /* Button text color on hover */
}

.contact-styled .nf-error.field-wrap .nf-field-element:after {
  background: #e74c3c;
  /* Error message background color */
}

.contact-styled .nf-form-fields-required {
  margin-bottom: 0.625rem;
  /* Add margin below required fields */
}

.contact-styled .nf-error .nf-error-msg {
  color: #e74c3c;
  /* Error message text color */
}

.contact-styled .nf-error-msg,
.ninja-forms-req-symbol {
  color: #e74c3c;
  /* Required symbol text color */
}

.contact-styled .nf-pass.field-wrap .nf-field-element:after {
  color: #2ecc71;
  /* Password strength color */
  content: "\f164";
}

.meet-donovan-section h2 {
  padding-left: 2rem;
  color: #000;
}
.meet-donovan-section p {
  padding: 0 2rem;
}

.chris-borger-about h2 {
  color: #000000;
  padding-left: 2rem;
}
.chris-borger-about p {
  padding: 0 2rem;
}

.hire-artist-section p {
  margin: 0 2rem 2rem 2rem;
}

/******************* Media queries ***************/
@media screen and (min-width: 31.25rem) {
  .home-hero {
    background-size: 130%;
    padding: 1rem 3rem;
  }
  .home-hero h2 {
    margin-bottom: 1rem;
  }
  .container {
    max-width: 45rem;
    margin: 0 auto;
  }
  .info-blurb {
    padding: 0 3rem;
  }
  .info-blurb p:first-of-type {
    padding-top: 2rem;
  }
  .info-blurb p:last-of-type {
    margin-bottom: 2rem;
  }
  .home-services h2,
  .home-services h3,
  .home-services p {
    margin-left: 3rem;
  }
  .home-services p {
    margin: 1rem 3rem 0rem;
  }
  .home-services img {
    width: calc(100vw - 6rem);
    margin: 0 3rem 0;
    border-radius: 5px;
  }
  .home-services .home-santa a {
    margin-right: 3rem;
  }
  .home-about {
    padding-top: 2rem;
  }
  .home-about h2,
  .home-about h3,
  .home-about p {
    margin-left: 3rem;
  }
  .home-about p:first-of-type {
    padding-top: 2rem;
  }
  .home-about a[role=button] {
    margin-right: 3rem;
  }
  .home-about img {
    max-width: 20rem;
  }
  .home-about .socials {
    height: 27rem;
  }
  .home-about .socials .social-links {
    grid-template-columns: 5rem 5rem;
  }
  .home-about .socials svg {
    padding: 1rem;
    width: 5rem;
  }
  .home-testimonials h2 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .upcoming-events {
    padding: 2rem 0;
  }
  .upcoming-events h2,
  .upcoming-events h3,
  .upcoming-events p {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .upcoming-events .event-info {
    margin-left: 3rem;
  }
  .upcoming-events a[role=button] {
    margin-right: 3rem;
  }
}
@media screen and (min-width: 87.5rem) {
  .about-heading {
    background: linear-gradient(to bottom, #000000, #808080, #FFFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .flex-container {
    flex-direction: row;
  }
  .column1,
  .column2 {
    flex: 1;
  }
  .column2 p {
    background-color: #FFFFFF;
  }
  .flex-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 10px;
    margin: 1.25rem;
    width: 100%;
  }
  .contact-heading {
    background: linear-gradient(to bottom, #000000, #808080, #FFFFFF);
    text-align: center;
  }
  .chris-borger-about p {
    color: #000000;
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 8px;
  }
  .image-gallery-container .image-wrapper {
    border: none;
  }
}/*# sourceMappingURL=style.css.map */