$light-blue: #9EB7E5;
$dark-blue: #0e3e66;
$dark-green: #053f23;
$light-green: #70ee9c;
$grey: #212121;
$dark: #000;
$light: #fff;
$bebas: "Bebas Neue", sans-serif;
$nunito: "Nunito Sans", sans-serif;

.services-hero {
    h2 {
        font-family: $bebas;
        color: $dark-blue;
        font-size: 2.5rem;
        font-weight: 600;
    }
}

.services-poy {
    font-family: $bebas;
    background-color: $dark-blue;
    color: $light;
    
    h2,h3 {
        font-weight: 400;
    }
}