
$primary-color-about: #0E3E66;
$secondary-color-about: #FFFFFF;
$accent-color-about: #000000;


@mixin border-radius-about($radius) {
    border-radius: $radius;
    overflow: hidden;
}


.about-heading {
    padding: 2rem 0;
    padding-left: 2rem;
    color: $primary-color-about;

 
    @media screen and (min-width: 1400px) {
        background: linear-gradient(to bottom, black, gray, white);
    }


    @media screen and (min-width: 1400px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0; 
    }
}

.flex-container {
    background-color: $primary-color-about;
    color: $secondary-color-about;

    // Flexbox layout for smaller screens
    display: flex; 
    flex-direction: column; 

    // Media query for larger screens
    @media screen and (min-width: 1400px) {
        flex-direction: row;
    }
}

.column1 {
    background-color: $primary-color-about; 
    color: $secondary-color-about; 
    padding: 20px; 

    // Apply border-radius mixin
    @include border-radius-about(10px);
}

.column2 {
    color: $accent-color-about; 
    padding: 20px; 
    margin-top: 20px; 
    display: inline-block;

    // Media query for smaller screens
    @media screen and (max-width: 1400px) {
        color: $secondary-color-about;
    }
}

.column2 p {
    padding: 10px; 
    margin: 10px 0;
    // Media query for larger screens
    @media screen and (min-width: 1400px) {
        background-color: $secondary-color-about; 
    }
}